export(InstallOldPackages)
export(LoadandCite)
export(source_DropboxData)
export(source_GitHubData)
export(source_data)
importFrom(digest,digest)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(httr,stop_for_status)
importFrom(httr,text_content)
importFrom(knitr,write_bib)
importFrom(plyr,ddply)
